# Python virtual environment
.venv/
venv/

# Airflow runtime state
docker/airflow/logs/
docker/airflow/config/
docker/airflow/plugins/

# Airflow metadata DB
docker/airflow/airflow.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# Data files (pipeline outputs)
data/raw/
data/processed/

# Docker artifacts
*.tar

# OS junk
.DS_Store
