# Python virtual environment
.venv/
venv/

.airflow-env/
airflow-env/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# Data files
data/raw/*
data/processed/*

# OS
.DS_Store
